@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src:
    url('../fonts/Didot.svg#Didot') format('svg'),
    url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Didot.woff') format('woff'),
    url('../fonts/Didot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light';
    src:
    url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg'),
    url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-Lt.otf') format('opentype'),
    url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Ultra Light';
    src:
    url('../fonts/HelveticaNeueLTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg'),
    url('../fonts/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-UltLt.otf') format('opentype'),
    url('../fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-UltLt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url('../fonts/HelveticaNeue-Thin.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src:  url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg'),
        url('../fonts/HelveticaNeue-Thin.otf')  format('opentype'),
        url('../fonts/HelveticaNeue-Thin.ttf')  format('truetype');

  font-weight: normal;
  font-style: normal;
}





